<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'web.jsx' %>
    <%= vite_stylesheet_tag 'web.jsx' %>

    <%= vite_javascript_tag 'mobile.jsx' %>
    <%= vite_stylesheet_tag 'mobile.jsx' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
